<img src="shared/images/onionr-text.png" class="aboutLogo" alt="Onionr">

<p>Onionr is a private decentralized communication network</p>
<p><i class="fab fa-gitlab"></i> <a href="https://gitlab.com/beardog/onionr">Source code</a></p>


<br>

<b>Core developers:</b>
<ul>
    <li><a href="https://www.chaoswebs.net/">Kevin Froman</a></li>
    <li><a href="https://www.aaronesau.com/">Aaron Esau</a></li>
</ul>

<br>

<b>Onionr is built with:</b>
<br>
<ul>
    <li><a href="https://torproject.org/">Tor</a> - Onionr routes all traffic through Tor by default - 3-clause BSD license</li>
    <li><a href="https://stem.torproject.org/">Stem</a> - Python library to interact with Tor - LGPLv3</li>
    <li><a href="https://palletsprojects.com/p/flask/">Flask</a> - Lightweight Python web framework - 3-clause BSD license</li>
    <li><a href="http://gevent.org">Gevent</a> - For the thread-safe WSGI servers - MIT license</li>
    <li><a href="https://2.python-requests.org/en/master/">Requests</a> - HTTP requests for humans - Apache 2.0 license</li>
    <li><a href="https://github.com/pyca/pynacl/">PyNaCl</a> - Python libsodium binding - Apache 2.0 license</li>
    <li><a href="https://download.libsodium.org/doc/">libsodium</a> - modern crypto library - ISC license</li>
    <li><a href="https://fontawesome.com/license/free">Font Awesome</a> - Icon set and toolkit - MIT license & CC-By 4.0</li>
</ul>

<br>
<a href="https://bulma.io/"><img src="private/images/made-with-bulma--dark.png" class="aboutLogo" alt="made with Bulma"></a>
<a href="https://python.org/"><img src="private/images/python-powered.png" class="aboutLogo" alt="made with Python"></a>